$font: 'Inter', sans-serif;
$text-color: #1C1C21;
$accent-color: #FF8B37;
$hoverColor: #FFAC70;
$activeColor: #E87928;
$questionBgColor: #F5F5F7;
$hexagon-border: #D0D0D8;
$selected: #FFF3EB;
$correct: #E6FAEA;
$hexagon-correct-border: #47D867;
$wrong: #FDEEED;
$hexagon-wrong-border: #EC6259;


$bp-tablet: 1018px;
$bp-mobile: 510px;


